@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./css/base/_reset.css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

body {
  min-width: 320px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
} */

/* input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-datetime-edit-text,
input[type="time"]::-webkit-datetime-edit-hour-field,
input[type="time"]::-webkit-datetime-edit-minute-field,
input[type="time"]::-webkit-datetime-edit-ampm-field {
  -webkit-appearance: none;
  display: none;
} */

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  color: white;
  opacity: 0;
  position: absolute;
  width: 320px;
  height: 64px;
}

.shadow1 {
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.pageContainer {
  @apply bg-pink-50 max-w-[360px] mx-auto h-dvh relative;
}

.formPage {
  @apply bg-neutral-50 max-w-[360px] min-w-80 mx-auto h-screen flex flex-col items-center;

  .formPageTitle {
    @apply font-bold text-[24px];
  }

  .formPageForm {
    @apply w-full min-w-80  px-5;
  }

  .inputContainerDiv {
    @apply space-y-5 min-w-80;
  }

  .inputContainer {
    @apply w-full h-[64px] flex relative;
  }

  .formLabelRadio {
    @apply cursor-pointer py-2 px-3 border-solid border-[1px] border-gray1 text-gray1 rounded-lg;
  }

  .authenticationButtonDiv {
    @apply w-full flex flex-col min-w-80 font-bold items-center space-y-3;
    /* @apply w-full px-5 flex flex-col min-w-80 font-bold items-center space-y-3; */
  }

  .authenticationButton {
    @apply w-full min-w-80 p-4 bg-main text-white rounded-xl;
  }

  .submitButton {
    @apply w-full min-w-80 p-4 rounded-xl text-center;
  }
}

.formLabel {
  @apply absolute w-[60px] min-w-[60px] h-[64px] flex items-center mr-9 text-gray2 text-p;
}

.errorText {
  @apply absolute top-[36px] text-darkRed text-sm w-11/12 mt-1;
}

.selectButton {
  @apply w-[70px] h-[30px] text-p border-[1px] rounded-lg border-gray1 text-gray1;
}

.selectedButton {
  @apply border-[1px] border-main text-main;
}

#addRecord {
  input {
    @apply placeholder:text-gray1 text-p text-gray4;
  }

  input::-webkit-datetime-edit {
    @apply text-p text-gray4;
  }
}

input[type="date"]::placeholder {
  color: red;
}

input[type="date"]:valid {
  color: black;
}
